body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: auto;
}
.header {
    background-color: #c03;
}
.header-wrapper {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 76px;
}
.logo {
    width: 200px;
    height: 50px;
    background-color: #303030;
    padding-left: 3px;
}
#search-bar {
    max-width: 540px;
    width: 100%;
    color: white;
    background-color: #a00028;
    height: 50px;
    background-image: url("icons/search_icon.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    border: 0;
}
.search-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 0 10px;
}
.nav-wrapper {
    height: 45px;
    background-color: #a00028;
}
.section {
    width: 100%;
    height: 394px;
    padding: 15px 40px;
    background-image: radial-gradient(
            circle at 49% 35%,
            rgba(0, 0, 0, 0.27) 0,
            #000 90%
        ),
        url("images/B&W_bg.jpg");
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.section-content .section-content-wrapper {
    color: #fff;
    text-align: left;
    max-width: 50%;
}
.section-content-wrapper .section-descp-mobile {
    display: none;
}
.section-content-wrapper h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
}
.section-content-wrapper h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    margin-bottom: 15px;
}
.section-content-wrapper .section-descp {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.section-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column {
    width: 33.3%;
}
.main-wrapper {
    z-index: 10;
}
.main-div-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -65px;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    font-size: 36px;
    box-shadow: 0 0 20px 1px rgba(183, 183, 183, 0.5);
    color: white;
    min-width: 430px;
    margin-bottom: 40px;
}
.b-1 {
    background-color: #35d3b4;
    border: 14px solid white;
    border-radius: 4px;
}
.b-2 {
    background-color: #1b2191;
    border: 14px solid white;
    border-radius: 4px;
    margin-left: 30px;
}
.b-3 {
    background-color: #d822ee;
    border: 14px solid white;
    border-radius: 4px;
    margin-left: 30px;
}
.b-4 {
    background-color: #057bad;
    border: 14px solid white;
    border-radius: 4px;
}
.bg-gray {
    background-color: #272727;
    height: 312px;
    color: white;
}
.footer {
    color: white;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-content {
    padding: 70px;
}
.footer-content ul {
    list-style: none;
}
.footer-content h3 {
    font-size: 23px;
    font-weight: 500;
}
.footer-content a {
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.display-mobile {
    display: none;
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        padding-top: 50px;
        padding-right: 5px;
    }
    .section .section-content {
        align-items: flex-start;
        justify-content: space-between;
    }
    .section-content .section-content-wrapper {
        max-width: 45%;
    }
    .section-content-wrapper .section-descp-mobile {
        display: none;
    }
    .section-img-wrapper {
        margin-top: 100px;
    }
    .main-wrapper {
        margin-top: 70px;
    }
    .main-div-wrapper {
        margin-top: 40px;
    }
    .section-left {
        margin: auto 0;
        max-width: 440px;
    }
}
@media screen and (max-width: 768px) {
    .section-img-wrapper {
        margin-top: 175px;
    }
    .section-img-wrapper img {
        width: 370px;
        height: auto;
    }
    .section-content-wrapper h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    .section-content-wrapper h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    .section-content-wrapper .section-descp {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
}
@media screen and (max-width: 680px) {
    .section {
        padding: 0;
    }
    .section .section-content {
        flex-direction: column;
        align-items: center;
    }
    .section-content .section-content-wrapper {
        max-width: 100%;
        padding: 30px 30px 0 30px;
    }
    .section-img-wrapper {
        margin-top: 20px;
    }
    .section-img-wrapper img {
        width: 331px;
        height: auto;
    }
}
@media screen and (max-width: 400px) {
    .logo {
        width: 54px;
        height: 50px;
    }
    .section {
        padding: 0;
        background-position: top 95% right 20%;
        background-size: 300%;
    }
    .section .section-content {
        flex-direction: column;
        align-items: center;
    }
    .section-content .section-content-wrapper {
        max-width: 100%;
        padding: 25px 30px 0 10px;
    }
    .section-content-wrapper .section-descp {
        display: none;
    }
    .section-content-wrapper .section-descp-mobile {
        display: block;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
    .section-img-wrapper {
        margin-top: 45px;
    }
    .section-img-wrapper img {
        width: 100%;
        height: auto;
    }
    .main-wrapper {
        margin-top: 90px;
        margin-bottom: 40px;
    }
    .block {
        margin: 0 10px;
        margin-bottom: 10px;
        border: 0;
        box-shadow: none;
        height: 50px;
        overflow: hidden;
        text-indent: -1000px;
        min-width: 200px;
        width: 100%;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-content {
        padding: 10px;
    }
    .bg-gray {
        height: 275px;
    }
    .display-mobile {
        display: block;
    }
}
